@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.top {
    background-color: greenyellow;
}

.top h1 {
    text-align: center;
    padding: 20px;
}

.top p {
    text-align: center;
    padding: 20px;
}

.top a {
    text-decoration: none;
    color: black;
    padding: 20px;
}
